#fill in the blanks and save in .env
DOMAIN=example.org

#Upstream catechall email IMAP details
IMAP_SERVER=imap.forwardemail.net.example.org
IMAP_PORT=993
IMAP_USERNAME=incoming@example.org

# Organisation where students will be added and where template repos are
GITHUB_ORG=MyGitHubOrgName
# A default dummy team that helps the system link users to emails
CLASSNAME=pupils

# Your UserID. In some containors need to have access to disks on system
UID=1000
GID=1000

#Range of allowed IPs for webservices (github webhook IPs are hardcoded as of 2026-05-20)
ALLOWED_IPS="192.0.2.0/24 198.51.100.0/24 203.0.113.0/24"
