#fill in the blanks and save in .env
DOMAIN=example.org

#Upstream catechall email IMAP details
IMAP_SERVER=imap.forwardemail.net.example.org
IMAP_PORT=993
IMAP_USERNAME=incoming@example.org

#UserID in some containors need to have access to disks on system
UID=1000
GID=1000
