email.{$DOMAIN} {
    tls /certs/site.crt /certs/site.key
    reverse_proxy roundcube:80
}

jupyter.{$DOMAIN} {
    tls /certs/site.crt /certs/site.key
    reverse_proxy jupyterhub:8000
}

*.pages.{$DOMAIN} {
    tls /certs/site.crt /certs/site.key

    root * /srv/html/Repos/{labels.3}/public_html
    file_server
}

{$DOMAIN} {

    @protected {
        not path / /index.html /webhook.php
    }

    basic_auth @@protected {
        admin {$CADDY_AUTH_HASH}
    }
    tls /certs/site.crt /certs/site.key
    root * /srv/html/public
    php_fastcgi php:9000
    file_server
}

